<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="image"></div>
    <div class="content">
        <h1 class="free">This site is free</h1>
        <h1 class="free-not">This site is not free</h1>

        <h3 id="url">google.com</h3>
    </div>
    <script src="script.js"></script>
</body>

</html>